.editPages {
    width: 800px;
    margin: 0 auto;
}


.inputForTitle {
    display: block;
    width: 300px;
    height: 20px;
}

.areaForContent {
    display: block;
    resize: none;
    width: 300px;
    height: 100px;
    margin-bottom: 35px;
}

.txt {
    margin: 30px 0 5px;
}
