header {
    display: flex;
    align-items: center;
    background: pink;
    justify-content: space-around;
}

.heading {
    width: 48%;
}

.mainNav {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.pages {
    color: #0000FF;
    text-decoration: underline;
    cursor: pointer;
}